$body-font: 'So Condensed', cursive;

$primary-color: #003247;

$text-color: #202020;
$grey-color-solid: #8D8D8D;
$grey-color-border: #CECECE;
$grey-color-interactive: #E0E0E0;
$grey-color-background: #F5F5F5;

$h1-font-size: 3.2em;
$h2-font-size: 2.4em;
$p-font-size: 1.6em;