.App {
  width: 100vw;
  height: 100vh;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
}

.selectButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20%;
  margin: 5px;
}

.hand {
  display: flex;
  gap: 10px;
  margin: 5px;

}

.main_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100%;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  height: 100%;
  background-color: antiquewhite;

  .line {
    display: flex;
  }
}

.zoomCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  overflow-y: auto;
  background-color: aliceblue;
}

.card_detailed {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 450px;
  border-radius: 20px;
  background-color: black;
  color: white;
  /*transform-style: preserve-3d;
  transform: perspective(1000px);*/

  .card_header {
    color: white;
    font-size: 18px;
    font-weight: bold;
    /*transform: translateZ(70px);*/
  }
}