.App {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, #c3dbec 0%, #2c3e50 100%) 0% 0% / 400% 400%;
  animation: 15s ease 0s infinite normal none running gradient;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
  width: 100vw;
  height: 100vh;
}

.selectButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20%;
  margin: 5px;
  width: 200px;

  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
    background: bisque;
    width: 100%;
    padding: 2px;
    margin: 2px auto;
    text-align: center;
    border-radius: 12px;
    flex-direction: column;
  }
  a:hover {
    color: white;
  }
}

.hand {
  display: flex;
  gap: 10px;
  margin: 5px;

}

.main_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100%;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  height: 100%;
  background-color: antiquewhite;

  .line {
    display: flex;
  }
}

.zoomCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  overflow-y: auto;
  background-color: aliceblue;
}

.card_detailed {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 450px;
  border-radius: 20px;
  background-color: black;
  color: white;
  /*transform-style: preserve-3d;
  transform: perspective(1000px);*/

  .card_header {
    color: white;
    font-size: 18px;
    font-weight: bold;
    /*transform: translateZ(70px);*/
  }
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
};