.hand {
  display: flex;
  gap: 10px;
  margin: 5px;

}

.main_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100%;
}

.board{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  height: 100%;
  background-color: antiquewhite;

  .line{
    display: flex;
  }
}

.zoomCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  background-color: aliceblue;
}